@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        font-family: 'Inter', sans-serif;
    }

    a {
        text-decoration-skip-ink: auto;
    }

    h2 {
        font-weight: 900;
        letter-spacing: 0.025em;
        color: #3a5173;
        font-size: 3rem;
        line-height: 1.25;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: 700;
    }
}

.slick-next{
    position: absolute;
    left: 1162px;
    top: 280px;
    z-index: 1;
    width: 40px;
    height: 40px;
}

.slick-prev{
    position: absolute;
    left: 1062px;
    top: 280px;
    z-index: 1;
    width: 40px;
    height: 40px;
}