@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    body {
        font-family: 'Inter', sans-serif;
    }

    a {
        text-decoration-skip-ink: auto;
    }

    h2 {
        font-weight: 900;
        letter-spacing: 0.025em;
        color: #3a5173;
        font-size: 3rem;
        line-height: 1.25;
    }

    h5 {
        font-size: 1.25rem;
        font-weight: 700;
    }

    .t-navbar {
        @apply opacity-90 pb-10 pl-2 flex flex-row justify-between items-center transition-all;
    }

    .t-navbar-items li {
        @apply text-[#667892] font-semibold tracking-wide hover:underline underline-offset-[0.7rem] hover:text-[#8344ff] transition-all;
    }

    .logo {
        @apply w-[2.5rem] border-0 border-solid border-[#e5e7eb];
    }

    .info-box {
        @apply flex flex-col justify-evenly w-80 h-[16.125rem] items-center hover:scale-110 transition-all;
    }

    .hotel-card{
        @apply m-6 flex flex-col justify-between h-[35.0625rem] w-96 border rounded-tl-[2.5rem] rounded-br-[3rem] text-[#3a5173];
    }

    .hotel-card__btn{
        @apply text-xl text-center rounded-br-3xl bg-[#6415ff] text-[#f7fafc] w-96 h-[4.6875rem] mt-4 hover:bg-[#6958da] transition-all;
    }
}

.slick-next {
    position: absolute;
    left: 1162px;
    top: 280px;
    z-index: 1;
    width: 40px;
    height: 40px;
}

.slick-prev {
    position: absolute;
    left: 1062px;
    top: 280px;
    z-index: 1;
    width: 40px;
    height: 40px;
}